@font-face {
  font-weight: 500;
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.otf');
}

@font-face {
  font-weight: 600;
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-SemiBold.otf');
}

@font-face {
  font-weight: 700;
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.otf');
}
