@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.063rem;
  margin: 0 auto;
  max-width: 120rem;
}

.logo {
  width: 6rem;
  height: 1.188rem;
}

.img {
  width: 6rem;
  height: 1.188rem;
}

.title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 363px;
}

.menu {
  line-height: 1.3rem;
  height: 3.063rem;
  border: none;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Pretendard";
  font-weight: 400;
}

.menu:hover {
  border-bottom: 0.125rem solid black;
}

.right {
  width: 7rem;
  height: 1rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.975rem;
}

.bottom {
  background-color: #ff4664;
  text-align: center;
  height: 1.688rem;
  top: 3rem;
  border-top: 0.063rem solid black;
}

.bottomText {
  padding: 0.313rem;
  color: white;
  font-size: 0.75rem;
  line-height: 0.975rem;
}
